<!DOCTYPE html>
<html lang="en" ng-app="optionsApp" class="ng-scope">

<head>
  <meta charset="utf-8">
  <title>Options</title>
  <!-- <base href="/"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.6/ui-bootstrap-tpls.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/angular-chart.js@1.1.1/dist/angular-chart.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="js/app.js"></script>

  <style>
    @font-face {
      font-family: 'Glyphicons Halflings';
      src: url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot');
      src: url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
        url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
        url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff') format('woff'),
        url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
        url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
    }

    .glyphicon {
      position: relative;
      top: 1px;
      display: inline-block;
      font: normal normal 16px/1 'Glyphicons Halflings';
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      margin-right: 4px;
    }

    /* Add icons you will be using below */
    .glyphicon-plus:before {
      content: '\2b';
    }

    .glyphicon-remove:before {
      content: '\e014';
    }
  </style>

</head>


<body style="background-color:#212832;" ng-controller="MainCtrl" class="ng-scope">

  <div class="navbar">
    <h4>Strategy Builder</h4>
  </div>

  <div class="jumbotron" ng-hide="setups.length">
    <p>This is a tool to calculate your open option positions in any trading market. You can add as many setups as you
      wish. Each setup will consist of one or more trades in a particular stock or index. All data you enter will be
      automatically saved on your local machine and NO information is sent to any remote servers.</p>
  </div>

  <div class="setup form-group" ng-repeat="setup in setups track by $index">
    <div class="func">
      <div>
        <label>
          Index / Stock <select type="text" ng-init="setup.name = indices[0]" ng-model="setup.name"
            ng-options="x for x in indices" ng-change="index(setup.name)" class="form-control" id="index"></select>
        </label>
      </div>
      <div>
        <label>
          Select Segment
          <!-- <input type="text" value="Options" id="segment" class="form-control" name="segment" list="select-segment" onchange="run()"> -->
          <select class="form-control" id="select-segment" value="Options" onchange="run()">
            <option value="Futures">Futures</option>
            <option value="Options" selected="selected">Options</option>
          </select>
        </label>

      </div>
      <div>

        <label>
          Select Expiry
          <!-- <input type="text" class="form-control"> -->
          <select class="form-control expiry" ng-init="expiry = expiries[0]" ng-change="change_expiry(expiry, setup.name)" ng-model="expiry" ng-options="x for x in expiries">
            <!-- <option ng-repeat="x in expiries" value="{{x.value}}">{{x.date}}</option> -->
            <!-- <option value="2021-05-27">27 MAY 2021</option>
            <option value="2021-06-03">03 JUN 2021</option>
            <option value="2021-06-10">10 JUN 2021</option>
            <option value="2021-06-17">17 JUN 2021</option>
            <option value="2021-06-24">24 JUN 2021</option>
            <option value="2021-06-29">29 JUN 2021</option>
            <option value="2021-09-30">30 SEP 2021</option>
            <option value="2021-12-30">30 DEC 2021</option> -->

          </select>

        </label>

      </div>
      <div>
        <label>
          Spot price <select type="text" ng-init="setup.spotPrice = spot_price[0]" ng-model="setup.spotPrice"
            class="form-control spotPrice" ng-options="x for x in spot_price"></select>
        </label>
      </div>
      <div style="grid-column: 1/5;">
        <div ng-repeat="trade in setup.trades  track by $index">
          <div class="row">
            <div class="col-md-4">
              <!-- <div class="col-md-4 option-type"> -->
              <div class="btn-group">
                <label class="btn btn-info" ng-model="trade.tradeType" uib-btn-radio="'buy'">Buy</label>
                <label class="btn btn-info" ng-model="trade.tradeType" uib-btn-radio="'sell'">Sell</label>
              </div>
              <!-- </div>
              <div class="row"> -->
              <div class="btn-group callput">
                <label class="btn btn-warning" ng-model="trade.optionType" uib-btn-radio="'call'" ng-change="trade_type = trade.optionType; changetrade(trade_type, {{$index}})">Call</label>
                <label class="btn btn-warning" ng-model="trade.optionType" uib-btn-radio="'put'" ng-change="trade_type = trade.optionType; changetrade(trade_type, {{$index}})">Put</label>
              </div>
              <!-- </div> -->
            </div>

            <!-- <div class="col-md-8"> -->
            <div style="color:#23a0a4;" class="col-md-8">
              <div class="row" id="func">
                <div class="col-md-3">
                  <label class="strike-price">Strike price</label>
                  <code>{{$index}}</code>
                  <!-- <input type="text" ng-model="trade.strike" class="form-control"> -->
                  <select type="text" id="{{$index}}" ng-init="trade.strike = strike_price[0]" ng-model="trade.strike" class="form-control strike_price" ng-options="x for x in strike_price" ng-change="changestrikeprice({{$index}})">
                  <!-- <select type="text" ng-init="trade.strike = strike_price[0]" ng-model="trade.strike" class="form-control strike_price" ng-options="x for x in strike_price"> -->
                  </select>
                </div>
                <div class="col-md-3 future-hide">
                  <label uib-tooltip="Price of 1 unit of option">Premium</label>
                  <!-- <input type="text" ng-model="trade.premium" class="form-control premium"> -->
                  <select type="text" ng-init="trade.premium = premiumValue[0]" ng-model="trade.premium" ng-options="x for x in premiumValue[{{$index}}]" class="form-control premium"></select>
                </div>
                <div class="col-md-3">
                  <label>Qty</label>
                  <input type="number" ng-init="trade.qty = 75" ng-model="trade.qty" class="form-control qty" min="75" step="75" ng-change="change_qty(trade.qty, setup.name)">
                </div>
                <div class="col-md-1 delete-trade" style="padding-top: 24px;">
                  <button type="button" class="btn btn-danger btn-sm" uib-tooltip="Remove trade"
                    ng-click="removeTrade(setup, trade)"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="add-trade-btn-wrapper">
        <button class="btn btn-default" ng-click="addTrade(setup)"><span class="glyphicon glyphicon-plus"></span> Add
          Trade</button>
      </div>
    </div>
    <div class="result" style="background-color:#212832;">
      <div class="row">
        <!-- <div class="col-md-6 net-profit">Profit & Loss: <strong
            class="{{getProfitClass(setup)}}">{{setup.profit}}</strong></div> -->
        <div class="col-md-6 delete-setup"><button class="btn btn-danger" ng-click="deleteSetup(setup)">Delete
            Setup</button></div>
      </div>
    </div>
    
    <div class="graph">
      <div class="container">
        <div class="chart-wrapper" ng-if="setup.spotPrice > 0">
          <canvas class="chart chart-line" chart-data="chart.data[setup.id].profits"
            chart-labels="chart.data[setup.id].labels" chart-series="chart.series"
            chart-options="chart.options"></canvas>
        </div>
      </div>
      <div style="color:#23a0a4;" class="geeks">
        <div>
          <label>SPOT PRICE:</label>
          <label id="spot_Price"></label>
        </div>
        <div>
          <label>STRIKE PRICE:</label>
          <label id="strategy"></label>
        </div>
        <div>
          <label>LOT SIZE:</label>
          <label id="lot_size"></label> 
          <!-- change acc to quantity -->
        </div>
        <div>
          <label>OI:</label>
        </div>
        <div>
          <label>VOLUME:</label>
        </div>
        <div>
          <label>TREND STRENGTH:</label>
        </div>
      </div>
    </div>
    <div class="nme">
      <p>Strategy Details</p>
      <p>Option Geeks</p>
    </div>
    <div class="data">
      <div style="color:#23a0a4;">
        <div>
          <label>
            Prob. of Profit
          </label>
        </div>
        <div class="net-profit">
          Max. Profit
        </div>
        <div>
          <label>Max. RR Ratio</label>
        </div>
        <div>
          <label>Max. Loss</label>
        </div>
      </div>
      <div style="color:#23a0a4;">
        <div>
          <label>
            Breakevens
          </label>
        </div>
        <div>
          <label>
            Total PNL
          </label>
        </div>
        <div>
          <label>
            Net Credit
          </label>
        </div>
        <div>
          <label>
            Estimated Margin/Premium
          </label>
        </div>
      </div>
    </div>
    <div class=data2>
        <div style="color:#23a0a4;">
        <div>
          <label>
            Alpha
          </label>
        </div>
        <div>
          <label>Beta</label>
        </div>
        <div>Theta</div>
        <div>Gamma</div>
    </div>
    </div>
  </div>
  <div class="button-group text-center">
    <button class="btn btn-primary" ng-click="addSetup()"><span class="glyphicon glyphicon-plus"></span> Add New
      Setup</button>
  </div>


  <footer>
    <div style="bottom: 0; text-align: center;">
      <div class="text-center">Copyright © 2021. All rights reserved.</div>
    </div>
  </footer>

  <!-- </div> -->



  <script>

    // $(document).ready(function() {
    //   var x = $("#select-segment").value;
    //   console.log(x);
    // })
    // var abs = 


    // console.log($(".spotPrice option:selected").val());
    // jQuery.extend({
    //   getData: function () {
    //     var result = null;
    //     $.ajax({
    //       url: 'https://spreadsheets.google.com/feeds/cells/11CeHRJ8HTIcAxKTd6BrzMTN-gY0f8C4iI0_ZQ7nGZyQ/ocvh19r/public/basic?alt=json#',
    //       type: 'GET',
    //       dataType: 'JSON',
    //       async: false,
    //       success: function (data) {
    //         result = data;
    //       }
    //     });
    //     return result;
    //   }
    // });



    // var data1 = $.getData();
    // var spotprice = data1.feed.entry[35].content.$t;
    // $(".spotPrice").val(spotprice);

    function run() {
      var x = document.getElementById("select-segment");
      var y = document.getElementsByClassName("callput");
      var z = document.getElementsByClassName("future-hide");
      console.log(x.value);
      for (var i = 0; i < y.length; i++) {
        if (x.value == "Futures") {
          y[i].style.display = "none";
          z[i].style.display = "none";
          $('.strike-price').text('Futures Price');
        } else {
          y[i].style.display = "inline-block";
          z[i].style.display = "inline-block";
          $('.strike-price').text('Strike Price');
        }
      }
    }



    // for expiry dates
    $('.form-control expiry').each(function () {
      var enddate = new Date($(this).val());
      var dateNow = new Date();

      if (dateNow > enddate) {
        $(this).remove();
      }
    });




  </script>
</body>

</html>